.loading-table-container {
    position: relative;
}

.loading-table-container .table-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 2px;
}

.loading-table-container .table-overlay.table-loading {
    display: flex;
}

.loading-table-container .table.table-loading {
    pointer-events: none;
    user-select: none;
    opacity: 0.5;
}