.loading-table-container {
    position: relative;
}

.loading-table-container .table-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 2px;
}

.loading-table-container .table-overlay.table-loading {
    display: flex;
}

.loading-table-container .table.table-loading {
    pointer-events: none;
    user-select: none;
    opacity: 0.5;
}

@media only screen and (max-width: 360px) {
    .mb-3 {
      margin-bottom: 1rem !important;
    }
    .nav-tabs {
      flex-wrap: wrap;
      justify-content: left;
    }
    .nav-item {
      flex: 1 0 50%;
      max-width: 50%;
    }
    /* .nav-link {
      text-align: center;
    } */
  }

  .custom-badge {
    background-color:#7066e0 !important;
  }

  .custom-rejected {
    background-color: #f24d43 !important; 
    color: white !important;
  }
  
  .ack-btn{
    color: #7066e0 !important;
  }

  .ack-btn-view{
    background-color: #7066e0 !important;
    color: white;
  }

  .quote-left {
    color: black;
  }

  .comment-text {
    background-color:#E5E4E2;
    color: black;
    font-size: 13.5px;
    font-weight: bold;
  }

  .forwarded-text {
    /* background-color: #ffc107; */
    color:#e6ac00;
    font-weight: bold;
  }

  .ack-text {
    color:#7066e0;
    font-weight: bold;
  }

  .act-approve-text {
    color: #198754;
    font-weight: bold;
  }

  .reject-text {
    color:#f24d43;
    font-weight: bold;
  }

  .assign-text {
    font-weight: bold;
  }

  
  
  