body{
    margin: 0;
    padding: 0;
}
.Sidebar {
    height: 200vh;
    width: 200px;
    background-color: #13336d;
}

.flex{
    font-family:Georgia, 'Times New Roman', Times, serif;
    gap: 10px;
}
.dropdown-toggle::after {
    color:white
}

.flex1.nav-link{
    padding: 30px;
    width: 100%;
}

#nav-dropdown{
    padding: 30px;
    width: 200px;
}
.flex1:hover { 
    background: #4e7ccf;
    transition: all 1.5s;
    
}