#button-tooltip > .tooltip-inner {
  background-color: #25282a ;
  color: white;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.text {
  color: #222831;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  /* font-size: 30px; */
}

.bell-icon {
  transition: transform 0.2s ease-in-out;
}

.text:hover .bell-icon {
  animation: bell-animation 0.5s ease-in-out forwards;
  transform: translateX(-5px);
  color: #ffc107;
}


@keyframes bell-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.user-icon {
  transition: transform 0.2s ease-in-out;
}

.text:hover .user-icon {
  animation: bell-animation 0.5s ease-in-out forwards;
  transform: translateX(-5px);
  color: #ffc107;
}

@keyframes user-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 991px) {
  .ms-auto {
  float: right;
}}