.maindiv {
    height: 100vh;
    width: auto;
    background-color: #fff;
  }
  
  .container1 {
    border-color: black 10px solid;
    height: 100%;
  }
  
  .p-3{
    margin: auto;
  } 
  
 

  .icon-span {
    position: absolute;
    box-sizing: border-box;
    top: 0%;
    bottom: 0%;
    right: 11px;
    height: 100%;
    display: flex;
    align-items: center;
  }