.Email{
  font-family: 'Times New Roman'
    }
    
    .Pass{
        font-family: 'Times New Roman'
          }
          
           
    .cb{
        font-family: 'Times New Roman'
          }
          
.-gdrid gap-2{
  background-color: #4CAF50;
}