.flex {
    flex-direction: column;
}

.dropdown-toggle::after {
    color:white;
}

.flex1.nav-link {
    align-items: center;
    padding: 1rem 2rem;
}

.flex1.dropdown > a {
    align-items: center;
    padding: 1rem 2rem;
    
}

.flex1:hover { 
    background: #4e7ccf;
    transition: all .3s;
}